<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{'static',filename=('style.css')}}">
    <title>SIAN</title>
</head>
<body>
    <div class="nb">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login_page.html">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="signup_page.html">SignUp</a>
        </li>
      </ul>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-7">
            <h1>SIAN</h1>
            <h2 class="head">Sign Language Detector</h2>
          </div>
          <div class="col-5">
            <img src="sian.jpg" class="logo" alt="">
          </div>
        </div>
      </div>
      <div class="c1">
                <h2>Objective</h2>
                <p class="para1">
                    Our motive is to help people understand American Sign Language which is used to communicate with physically <br> especially Deaf and Dumb people.
                </p>
      </div>
      <div class="container c2">
                <h2>What is American Sign Language?</h2>
                <p class="para1">
                    American Sign Language (ASL) is a fully developed language, with its own grammar and structure, that is expressed through hand and facial movements. It is widely used by the deaf and hard-of-hearing community in North America, <br>as well as some hearing individuals.
                </p>
              </div>
      <div class="container c3">
        <center>
            <img src="download.jfif" class="asl" alt="">
        </center>
      </div>
      <div class="c4">
        <center>
        <h2>Are you ready to experience it?</h2>
            <a href="signup_page.html"><button type="submit">Let's Start</button></a>
        </center>
      </div>
    </body>
</html>